.author {
	display: flex;
	padding-top: 3rem;

	&__avatar {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 6rem;
		flex: 0 0 10rem;
		margin-right: 2rem;

		@include tablet-landscape-and-up {
			flex: 0 0 12.5rem;
		}

		@include desktop-and-up {
			flex: 0 0 15rem;
		}
	}

	&__heading {
		font-weight: 800;
		font-size: 1.3rem;
		margin-bottom: .5rem;
		justify-content: space-between;
		align-items: center;

		a {
			color: var(--text-color-hsl);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-self: center;
	}
}