.author {
	display: flex;
	padding-top: 1.3rem;
	flex-direction: column;
	background-color: #f9feff;

	@include tablet-landscape-and-up {
		flex-direction: row;
	}

	&__avatar {
		-webkit-box-flex: 0;
		flex: auto;

		@include tablet-landscape-and-up {
			flex: 0 0 22.5rem;
		}

		@include desktop-and-up {
			flex: 0 0 25rem;
		}

		img {
			margin: 0;
		}
	}

	&__heading {
		font-weight: 800;
		font-size: 1.3rem;
		margin-bottom: .5rem;
		justify-content: space-between;
		align-items: center;

		a {
			color: var(--text-color-hsl);
		}
	}

	&__bio {
		font-style: italic;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-self: center;
		padding: 1.3rem;
	}
}