.navbar {
    --header-height: 100vh;
    --space-header: var(--space-lg);

    display: flex;
    flex-wrap: wrap;
    padding: 1rem calc(var(--space-header) * 1);
    margin: 0 calc(var(--space-header) * -1);

    &__menu {
        display: flex;
        width: initial;
    }

    &__item {
        list-style: none;
        margin-right: var(--nav-item-space);
        font-weight: 500;
    }
}