.post-header {
	&__banner {
		object-fit: cover;
		height: 30rem;
		width: 100%;
		object-position: bottom;
		filter: brightness(95%);
	}

	&__title {
		padding: 0 1.2rem;
	}

	&__subtitle {
		font-style: italic;
		font-size: 1.5rem;
		opacity: .85;
		background: var(--higlight-color);
		padding: .5rem;
	}
}