.post-header {
	&__banner {
		object-fit: cover;
		height: 25rem;
		width: 100%;
		object-position: center;
	}

	&__subtitle {
		font-style: italic;
		font-size: 1.5rem;
		opacity: .85;
		background: var(--higlight-color);
		padding: .5rem;
	}
}