.summary {
	display: block;
	padding: 1rem;
	border-bottom: 1px solid #eee;

	@include tablet-landscape-and-up {
		border-bottom: none;
	}

	&:hover {
		opacity: .7;
		background: #f9f9f9;
	}

	&__link {
		color: var(--text-color-hsl);
	}

	&__banner {
		object-fit: cover;
		object-position: center;
		border-radius: .5rem;
		max-height: 238px;
		height: auto;
		width: 100%;
		filter: brightness(85%);
	}
    
	&__title {
		font-weight: bold;
		margin: 0;
	}

	&__date:after {
		content: "\00a0\·";
	}

	&__meta {
		opacity: .7;
		margin-bottom: .4rem;
		font-size: 1rem;
	}

	&__description {
		margin: 0;
	}
}