{{ define "main" }}

<main class="content" role="main">
  {{- if eq .Type "posts" -}}
  <article lang="en" class="post">

    <header class="post-header">
      {{$path := substr .Page.RelPermalink 7 }}

      <picture>
        <source
          class="post-header__banner lazy"
          type="image/webp"
          srcset='
            {{ printf "%simages/posts/mobile/%s%s" .Site.BaseURL $path "banner.webp" }} 375w,
            {{ printf "%simages/posts/tablet/%s%s" .Site.BaseURL $path "banner.webp" }} 800w,
            {{ printf "%simages/posts/desktop/%s%s" .Site.BaseURL $path "banner.webp" }} 1024w
          '
          sizes="
          (min-width: 768px): 1024px,
          (min-width: 375px) and (max-width:  767px) 800px,
          calc(100vw - 1.3rem),
          "
        />
        <img
          class="post-header__banner lazy"
          alt="{{ .Title }}"
          src='{{ printf "%simages/posts/mobile/%s%s" .Site.BaseURL $path "banner.png" }}' />
      </picture>

      <h1 class="post-header__title">
        {{.Title }}
        <small class="post-header__subtitle">{{ .Description }}</small>
      </h1>

      <div class="post-header__published">
        {{- partialCached "post/published" . -}}
      </div>
    </header>
    
    <div class="post__content">
      {{- partial "anchored-headings.html" .Content -}}
    </div>

    {{- with .Params.tags -}}
    <div class="post__tags">
      Tags:
      {{ range . -}}
        <a class="post__tag" href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
    </div>
    {{- end -}}

    <footer class="post__footer">
      <!-- Related -->
      {{- partial "post/related.html" . -}}

      <!-- Pagination -->
      {{ partial "pagination.html" . }}

      <!-- Comments -->
      {{ if or (and (.Site.Params.comment) (.Params.comment)) }}
        {{ partial "post/disqus.html" . }}
      {{- end -}}
    </footer>
  </article>

  <aside class="sidebar">
    {{- partial "post/shareable-links" . -}}
  </aside>
  
  {{- else -}}
    <article class="page">
      {{ partial "anchored-headings.html" .Content }}
    </article>
  {{- end -}}
</main>
{{ end }}