<article class="summary">
	<a class="summary__link" href="{{.Page.RelPermalink }}">
		{{$path := substr .Page.RelPermalink 7 }}

		<h3 class="summary__title">
			{{ .Page.Title }}
		</h3>
		
		<div class="summary__meta">
			{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    
			<time class="summary__date" datetime="{{ .Page.PublishDate }}">{{ partial "relative-date.html" . }}</time>
			<time>
			{{ T "wordCount" .WordCount }}
			{{ T "readingTime" .ReadingTime }}
			</time>
		</div>
		<p class="summary__description">{{ .Page.Description }}</p>
	</a>
</article>
