.burger {
	position: relative;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
    transition: background .5s;
    padding: $spacing-sm;

    &__bar {  
        position: absolute;
        left: 15px;
        top: 25px;
        left: calc((100% - 20px)/2);
        top: calc((100% - 1px)/2);
        width: 20px;
        height: 1px;
        background-color: $primary;

        &--top {
        	transform: translateY(0px) rotate(0deg);
    	}

    	&--bottom {
    		transform: translateY(6px) rotate(0deg);
        }
	}

    @include desktop-and-up {
        display: none;   
    }
}


    .burger {
        transition: all 0.2s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        transform: rotate(90deg);

        &__bar {
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;

            &--top {
                transform: translateY(4px) rotate(45deg);
            }

            &--bottom {
                transform: translateY(3px) rotate(-45deg);
            }
        }
    }