.container-fluid {
	display: block;
	margin: 0 auto;

	.content .page {
		padding: 1.5rem;
	}
	
	@include desktop-and-up {
		max-width: 1024px;
	}
}

.container-fluid--home {
	display: block;

	.content {
		margin-top: 10px;
		display: grid;
		grid-gap: normal;
		grid-template-rows: auto;
		grid-template-columns: auto;
	}

	@include tablet-landscape-and-up {
		.content {
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1.5rem;
			padding: 0 1.5rem 3rem 1.5rem;
		}
	}
}

.container-fluid--page {
	max-width: 835px;
	margin: 0 auto;

	.content {
		display: grid;
		grid-template-rows: "post";
		grid-template-columns: minmax(0, 1fr);
	}

	.sidebar {
		display: none;
	}
}

